	
	<div class="row">
		<div class="large-12 columns" role="content">
			<div>
				<article>
					<h3>What is <%= link_to "OkGamer?", "https://okgamer.herokuapp.com/" %></h3>
					<p>OkGamer is designed to connect players on online multiplayer games like Grand Theft Auto V with other games that share their gaming personality.  It began as a final project at MakerSquare that two other developers and myself built in Ruby on Rails over the course of three weeks.</p>
				</article>
			</div>
		</div>
   	<div class="large-12 columns">
    <div id="slider">
    	<ul data-orbit>
			  <li>
			    <%= image_tag("http://i.imgur.com/gK6uUSu.jpg") %>
			    <div class="orbit-caption">This is the splash page that a user sees before they log in</div>
			  </li>
			  <li>
			    <%= image_tag("http://i.imgur.com/zXLiGIH.jpg") %>
			    <div class="orbit-caption">After a user signs up they give their Xbox Live Gamertag and answer a short quiz</div>
			  </li>
			  <li>
			    <%= image_tag("http://i.imgur.com/xjXJndI.jpg") %>
			    <div class="orbit-caption">At which point they are matched with other users based on their answers to the above quiz</div>
			  </li>
			  <li>
			    <%= image_tag("http://i.imgur.com/oYxn3r9.jpg") %>
			    <div class="orbit-caption">A user can then send a message to his or her matches to set up team formation</div>
			  </li>
			</ul>
    </div>

    <hr />
    </div>
  </div>


<!-- <a href="http://imgur.com/gK6uUSu"><img src="http://i.imgur.com/gK6uUSu.jpg" title="Hosted by imgur.com"/></a> -->
<!-- <a href="http://imgur.com/zXLiGIH"><img src="http://i.imgur.com/zXLiGIH.jpg" title="Hosted by imgur.com"/></a> -->
<!-- <a href="http://imgur.com/xjXJndI"><img src="http://i.imgur.com/xjXJndI.jpg" title="Hosted by imgur.com"/></a>
<a href="http://imgur.com/oYxn3r9"><img src="http://i.imgur.com/oYxn3r9.jpg" title="Hosted by imgur.com"/></a> -->