<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Mike's Website" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- Nav Bar -->
 
    <div class="row">
      <div class="large-12 columns">
        <div class="nav-bar right">
         <ul class="button-group">
           <li><%= link_to "Current Project", okgamer_path, :class => "button" %></li>
           <li><%= link_to "Resume", resume_path, :class => "button" %></li>
          </ul>
        </div>
        <h1><small><%= link_to "Michael James Cooley", about_path %></small></h1>
        <hr />
      </div>
    </div>
   
    <!-- End Nav -->

    <%= yield %>

    <!-- Footer -->
 
    <footer class="row">
      <div class="large-12 columns">
        <hr />
        <div class="row">
          <div class="large-6 columns">
            <p><%= mail_to "mikejames386@gmail.com", "Shoot me an email" %></p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="https://github.com/mikejames386"><i class="fa fa-github"></i></a></li>
              <li><a href="https://twitter.com/maladaptedmike"><i class="fa fa-twitter"></i></a></li>
              <li><a href="http://www.linkedin.com/pub/michael-cooley/48/426/337/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    
    <%= javascript_include_tag "application" %>
  </body>
</html>
